@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,600");

$color-background: #e4dfd3;
$color-highlight: #fe9996;
$bg: #434d5a;

@import "slider";

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 75px;
  background: #434d5a;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: lighten($bg, 25%);
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
}

h2 {
  color: lighten($bg, 25%);
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;
  font-weight: 100;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.card {
  width: 550px;
  height: 800px;
  border: 1px solid lighten($bg, 25%);
  padding: 75px 100px;
  display: flex;
  flex-direction: column;

  button.submit {
    font-family: "Roboto";
    border: none;
    border-radius: 50px;
    background: lighten($bg, 25%);
    font-weight: 100;
    font-size: 1.2em;
    outline: none;
    margin-top: 30px;
    transition: all 0.2s;
    &:hover {
      outline: none;
      border: none;
      text-shadow: none;
      transform: scale(1.05);
    }
  }
}

.card-body {
  width: calc(100vw - 700px);
  max-width: 900px;
  height: 800px;
  border: 1px solid lighten($bg, 25%);
  padding: 75px 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  #content {
    opacity: 1;
    transition: all 0.2s;
  }
}

#results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#results td,
#results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#results tr:nth-child(even) {
  background-color: #f2f2f2;
}

#results tr:hover {
  background-color: #ddd;
}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
