@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,600");
#flat-slider.ui-slider {
  background: #d5cebc;
  border: none;
  border-radius: 0;
}

#flat-slider.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0;
  border-color: transparent;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}

#flat-slider.ui-slider .ui-slider-handle.ui-state-hover,
#flat-slider.ui-slider .ui-slider-handle.ui-state-focus,
#flat-slider.ui-slider .ui-slider-handle.ui-state-active {
  border-color: #172f38;
}

#flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
  background: #d5cebc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#flat-slider.ui-slider.ui-slider-horizontal {
  height: 6px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: -25px;
  margin-left: -10px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
  top: 10px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
  width: 2px;
  height: 10px;
  margin-left: -1px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  height: 20px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  height: 12px;
}

#flat-slider.ui-slider.ui-slider-vertical {
  width: 6px;
  height: 125px;
  display: inline-block;
  margin: 0 15%;
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  left: -25px;
  margin-bottom: -10px;
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip {
  left: 10px;
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
  height: 2px;
  width: 10px;
  margin-top: -1px;
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  width: 20px;
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  width: 12px;
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip,
#flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
  visibility: visible;
  opacity: 1;
  border: none;
  background: transparent;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  text-align: center;
  color: white;
  font-weight: normal;
  top: 10px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

#flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before,
#flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
  display: none;
}

#flat-slider-mood .ui-slider-handle,
#flat-slider-mood .ui-slider-range,
#flat-slider-mood .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#flat-slider-mood .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  cursor: pointer;
  background: #f27793;
}

#flat-slider-energy .ui-slider-handle,
#flat-slider-energy .ui-slider-range,
#flat-slider-energy .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#flat-slider-energy .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  cursor: pointer;
  background: #bd77f2;
}

#flat-slider-preference .ui-slider-handle,
#flat-slider-preference .ui-slider-range,
#flat-slider-preference .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#flat-slider-preference .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  cursor: pointer;
  background: #67c3ec;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 75px;
  background: #434d5a;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: #7e8c9f;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
}

h2 {
  color: #7e8c9f;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  font-weight: 100;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.card {
  width: 550px;
  height: 800px;
  border: 1px solid #7e8c9f;
  padding: 75px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card button.submit {
  font-family: "Roboto";
  border: none;
  border-radius: 50px;
  background: #7e8c9f;
  font-weight: 100;
  font-size: 1.2em;
  outline: none;
  margin-top: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card button.submit:hover {
  outline: none;
  border: none;
  text-shadow: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-body {
  width: calc(100vw - 700px);
  max-width: 900px;
  height: 800px;
  border: 1px solid #7e8c9f;
  padding: 75px 50px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-body #content {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#results td,
#results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#results tr:nth-child(even) {
  background-color: #f2f2f2;
}

#results tr:hover {
  background-color: #ddd;
}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
/*# sourceMappingURL=main.css.map */